
*{
    margin: 0px;
    padding: 0px;
}

.container{
    padding: 2rem;
    
}

.title{ font-size: 3rem; }
.text{ font-size: 1.5rem; margin-top: 1rem; }

#home{
    background-image: url("images/satellite.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.home-page p{
    font-family: 'Courier Prime', monospace;
    font-size: 4rem;
    letter-spacing: 10px; 
    width: 100%;  
}

.text-1{
    color: white;
    width: 17%;
    margin-top: 15%;
    margin-left: 7%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(6),
        cursor .5s step-end infinite alternate;
}
@keyframes cursor {
    50%{ border-color: transparent;}
}
@keyframes typing {
    from {width: 0;}
}

.text-2{
    color: white;
    width:35.5%;
    margin-left: 14%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(12),
        cursor .5s step-end infinite alternate;
}
@keyframes cursor {
    50%{ border-color: transparent;}
}
@keyframes typing {
    from {width: 0;}
}


.nav-bar{
    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-grow: 1;
}

.nav-bar li{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

.nav-bar a{
    font-family: 'Courier Prime', monospace;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    -webkit-transition: all 0.2s;
}

.nav-bar a::after{
   content: '';
   width: 0;
   height: 2px;
   background-color: white;
   margin: auto;
   display: block;
}

.nav-bar a:hover::after{  
    width: 100%;
    transition: width 0.2s linear;
}

.nav-bar a:hover{
    font-size: 25px;    
}


#hawking{
    background-image: url("images/the-big-bang.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hawking-info{
    display: flex;
    justify-content: center;
    height: 25em;
    padding: 4% 8%;
}

.hawking-info img{
    border: 10px white solid;
    margin-right: 3%;
}

#hawking p{
    font-family: 'Courier Prime', monospace;
    /* letter-spacing: 10px;  */
    color: white; 
    margin-left: 2%;
}

/* #hawking > div > p{
    color: white;
    width: 44%;
    margin-top: 4%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s steps(20),
        cursor .3s step-end infinite alternate;
}
@keyframes cursor {
    50%{ border-color: transparent;}
}
@keyframes typing {
    from {width: 0;}
} */

#hawking > div{
    padding: 10% 10% 0% 10%;
}

#armstrong{
    background-image: url("images/earth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.armstrong-info{
    display: flex;
    justify-content: center;
    height: 25em;
    padding: 4% 8%;
}

.armstrong-info img{
    border: 10px white solid;
    margin-right: 3%;
}

#armstrong p{
    font-family: 'Courier Prime', monospace;
    color: white; 
    margin-left: 3%;
}

#armstrong > div > p{
    color: white;
    width: 42%;
    padding-right: 2px;
    margin-top: 4%;
    /* border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s steps(19),
        cursor .5s step-end infinite alternate; */
}
/*
@keyframes cursor {
    50%{ border-color: transparent;}
}
@keyframes typing {
    from {width: 0;}
} 
*/

#armstrong > div{
    padding: 10% 10% 0% 10%;
}

/* gallery css */

#gallery{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 216, 230, 0.651);
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

#footer{
    background-color:  rgba(173, 216, 230, 0.651);
    padding-top: 30px;
}

#footer a, #footer p{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-family: 'Courier Prime', monospace;
    font-weight: 100;
}

#footer > div{
    background-image: url("images/milky-way.jpg");
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
}

